# Diretórios e arquivos do ambiente virtual
venv/
.env/
*.pyc
*.pyo
__pycache__/
ctg-studies-myeloma-2003-to-2024.json
# Configurações do editor
.vscode/
.idea/
*.sublime-workspace

# Logs e arquivos temporários
*.log
*.tmp
*.swp

# Dependências
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de banco de dados
*.sqlite3
*.db

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de cache do pytest
.cache/

# Configurações do sistema operacional
.DS_Store
Thumbs.db